h1 {
    color: springgreen;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}

html {
    text-align: center;
    background-image: url(C:\Users\Joao\Desktop\MeuPrimeiroProjeto\img\img fundo.jpg);

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

a {
    color: springgreen;
}